{% extends "layout.jinja2" %}

{% block body %}
<div class="content">
    
        <h5>{{ entry.creation_date }}</h5>
        <p>{{ entry.fname }}</p>
        <p>{{ entry.lname }}</p>
        <p>{{ entry.food }}</p>
</div>
{% endblock %}